<!DOCTYPE html>
<html lang="ja">
<head>
	<title>予約内容入力</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/apply.css') }}">
</head>

<body>

<!-- メニューバー -->
<header>
    <div id="header_contents">
        <div id="title_contents">
            <p id="title_1"><b>○○○○塾</b></p>
            <p id="title_2"><b>教室予約システム</b></p>
        </div>
    </div>
</header>

<!-- フォーム -->
<div id="content">
	{%if errors != [] %}
		<div id="errors">
			{% for error in errors %}
				<p>Error: {{ error }}</p>
			{% endfor %}
		</div>
	{% endif %}
	<div class="form_content">
		<h2>新規予約</h2>
		<form id="form" action="/apply" method="post">
			<table>
				<tr>
					<th>項目</th><th>入力欄</th>
				</tr>
				<tr>
					<td class="item">教員名</td>
					<td>
                        <select id="teacher" name="teacher" required>
                            {% for teacher in teachers.values() %}
                                <option value= "{{ teacher['id'] }}" {{ 'selected' if 'teacher' in data.keys() and teacher['id'] == data['teacher'] else '' }}>{{ teacher['name'] }}</option>
                            {% endfor %}
                        </select>
                    </td>
				</tr>
				<tr>
					<td class="item">使用日</td>
					<td>
                        <p>{{ date }}</p>
						<input id="date" value="{{ date }}" type="hidden" name="date" />
					</td>
				</tr>
				<tr>
					<td class="item">使用時間</td>
					<td>
						<p>{{ period['name'] }} ({{ period['term'] }})</p>
                        <input type="hidden" name="period" value="{{ period['id'] }}" />
					</td>
				</tr>
				<tr>
					<td class="item">教室</td>
					<td>
                        <p>{{ room['name'] }}</p>
						<input type="hidden" name="room" value="{{ room['id'] }}"/>
					</td>
				</tr>
				<tr>
					<td class="item">科目</td>
					<td>
						<select id="subject" name="subject" required>
                            {% for subject in subjects.values() %}
                                <option value="{{ subject['id'] }}" {{ "selected" if 'subject' in data.keys() and subject['id'] == data['subject'] else "" }}>{{ subject['name'] }}</option>
                            {% endfor %}
						</select>
					</td>			
				</tr>
				<tr>
					<td class="item">使用人数</td>
					<td>
						<input id="people" type="text" name="people" size="5" value="{{ data['people'] if 'people' in data.keys() else '' }}" required/>
                        <span>/ {{ room['capacity'] }} 人</span>
					</td>
				</tr>
				
				<tr>
					<td class="item">備考</td>
					<td><textarea id="comment" name="comment" cols="40" rows="3">{{ data['comment'] if 'comment' in data.keys() else '' }}</textarea></td>
				</tr>
			</table>

			<input type="submit" value="登録"/>
			
		</form>
	</div>
</div>

</body>
</html>